#chrome_extension_chinese_dictionary {
    position:fixed;
    width:300px;
    height:300px;
    top:10px;
    right:10px;
    background: #eff0f2;
    z-index:999999;
    display:none;
    color:#333;
    font-size:16px;
    border:1px solid #00af35;
    overflow:hidden;
}
#chrome_extension_chinese_dictionary.open {
    display:block;
}
#chrome_extension_chinese_dictionary .title {
    background:#00c73c;
    height:30px;
}
#chrome_extension_chinese_dictionary .title>h1 {
    font-size: 16px;
    line-height: 30px;
    /* padding: 5px; */
    /* box-sizing: borer-box; */
    padding: 0;
    padding-left: 5px;
    margin: 0;
    color: white;
    letter-spacing: -1px;
    display: inline-block;
}
#chrome_extension_chinese_dictionary .title>h1>span {
    font-size: 12px;
    vertical-align: top;
}

#chrome_extension_chinese_dictionary .content {
    min-height: 270px;
    padding:5px;
    overflow-y: scroll;
    box-sizing: border-box;
}
#chrome_extension_chinese_dictionary .content ul {
    list-style: none;
    padding:0;
    margin:0;
}
#chrome_extension_chinese_dictionary .content ul li {
    list-style: none;
    padding:0;
    margin:0;
}
#chrome_extension_chinese_dictionary .content ul.words {
    padding:0 5px;
}
#chrome_extension_chinese_dictionary .content ul.words>li {
    padding:10px 0 0 0;
    border-bottom: 1px solid  #ddd;
}
#chrome_extension_chinese_dictionary .content ul.words>li:last-child {
    border-bottom: 0px;
}
#chrome_extension_chinese_dictionary .content ul.words>li>p {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
#chrome_extension_chinese_dictionary .content ul.words>li>span {
    vertical-align: middle;
    font-size:13px;
    margin-left:5px;
}
#chrome_extension_chinese_dictionary .content ul.means>li.source {
    margin:5px 0;
    font-size:13px;
    color:#999;
}

#chrome_extension_chinese_dictionary .content ul.means>li {
    margin-top:3px;
}
#chrome_extension_chinese_dictionary .content ul.means>li>span{
    vertical-align: middle;
    line-height: 16px;
}
#chrome_extension_chinese_dictionary .content ul.means>li>span.parts {
    height: 16px;
    margin: 0 0 0 1px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #999;
    box-sizing: content-box;
    vertical-align: top;
    margin:0 5px;
    letter-spacing: -1px;
}