.Recently-main {
    margin-top: 20px;

    .meanList {
        font-size:13px;
        
        .index {
            margin-right: 4px;
        }
        .partsLabel {
            margin-right: 2px;
            color: #7a96b9;
        }
    }
}